<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
    <div ng-view></div>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cache/dist/angular-cache.js"></script>
    <script src="bower_components/angular-data/dist/angular-data.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="app.js"></script>
    <script src="components/fetch/fetchServices.js"></script>
    <script src="components/store/storeService.js"></script>
    <script src="components/store/storeCtrl.js"></script>
    <script src="components/data/dataServices.js"></script>

    <div ng-controller="fetchController">
        FETCH
    </div>
    <div ng-controller="dataController as data">

        <div>
            <span ng-click="data.addEntry()">AddMe   DATA   DATA</span>
        </div>
    </div>
    <div ng-controller="storeController as s">

    <div>
        <span ng-click="s.addRandUrl(0)">Add</span>
    </div>

    <div ng-repeat="job in jobStore.getJobs()">
        JOB: {{job.getId()}}
        <table class="job">
            <tr class="todo" ng-repeat="url in job.urlsTodo">
                <td class="url">{{url}}</td><td class="add"> <span ng-click="s.addRandUrl(url)">Add</span></td>
            </tr>
            <tr class="processing" ng-repeat="url in job.urlsProcessing">
                <td class="url">{{url}}</td><td class="add"> <span ng-click="s.addRandUrl(url)">Add</span> </td><td class="add">  <span ng-click="s.moveUrl(url)">Done</span></td>
            </tr>
            <tr  class="done" ng-repeat="url in job.urlsDone">
                <td class="url">{{url}}</td><td class="add"> <span ng-click="s.addRandUrl(url)">Add</span> </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
